body {
  background-color: white;
  color:black;
}

#tb {
  
  
  
}

#subtb {
  
 
}

#bib {
  width: 100%;
  background-color: #ffff0080;
  padding: 10px;
}
#navbar {
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: white;
}

.dark-mode {
  background-color: black;
  color: white;
}
body.dark-mode #navbar {
  background-color: black;
  color: white
}

#button {
  
}
