body {
  background-image: linear-gradient(rgba(0,0,255,0), rgba(,0,255,0.5));
}

#tb {
  
  
  
}

#subtb {
  
 
}

#bib {
  width: 100%;
  background-color:#ffff0080;
  padding: 10px;
}
#navbar {
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: #333;
  color: White;
}

